/vendor/
/node_modules/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
/resources/views/**/*.blade.php.php
/public/hot
/public/storage
/public/js
/public/css
/public/mix-manifest.json
/public/build
*.log
*.DS_Store
*.idea/
*.vscode/
*.swp
Thumbs.db
desktop.ini
composer.lock
package-lock.json

